name: movies_app
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  #UI
  cupertino_icons: ^1.0.2
  google_fonts: ^2.3.1
  carousel_slider: ^4.0.0
  cached_network_image: ^3.0.0
  shimmer: ^2.0.0
  flutter_rating_stars: ^1.0.3+4

  #Core
  dio: ^4.0.4
  pretty_dio_logger: ^1.1.1
  
  # Structure
  flutter_modular: ^4.4.0+1
  mobx: ^2.0.6+1
  flutter_mobx: ^2.0.4
  build_runner: ^2.1.7

  #Firebase
  firebase_core: ^1.12.0
  firebase_remote_config: ^2.0.0
  firebase_analytics: ^8.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  effective_dart: ^1.3.0
  flutter_lints: ^1.0.0
  mobx_codegen: ^2.0.5+2

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
   - assets/images/


  fonts:
    - family: IBMPlexSans
      fonts:
        - asset: assets/fonts/IBMPlexSans-Regular.ttf
        - asset: assets/fonts/IBMPlexSans-Bold.ttf
          weight: 700
        - asset: assets/fonts/IBMPlexSans-Italic.ttf
          style: italic
        - asset: assets/fonts/IBMPlexSans-Light.ttf
          weight: 300
        - asset: assets/fonts/IBMPlexSans-SemiBold.ttf
          weight: 600


## Slidy Scripts 
vars: 
    clean: flutter clean
    get: flutter pub get
    runner: flutter pub run build_runner
scripts: 
    mobx: $runner watch --delete-conflicting-outputs
    mobx_build: $runner build
    mobx_build_clean: $clean & $get & $runner build --delete-conflicting-outputs
